body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER COMPONENT STYLES */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

nav ul{
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: row;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}
nav a:hover {
  border-bottom: 1px solid black;
}

/* SPLASH */
.splash-btn {
  border: 2px red solid;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 3px;
  background: white;
  color: red;
  transition: 0.3s
}
.splash-btn:hover {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}