/* ######## */
/* GENERAL */
/* ######## */
:root {
  /* --light: #f6f6f9; */
  --light: white;
  --primary: rgb(240, 88, 88);
  --primary-dark: #e2373f;
  /* --grey: #eee; */
  --grey: whitesmoke;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input, textarea {
  display: block;
  padding: 1em;
  border: 1px rgb(159, 157, 157) solid;
  border-radius: 5px;

  &:focus {
    outline: var(--primary) 2px solid;
    outline-offset: -2px;
  }
}

/* ######## */
/*   UTIL   */
/* ######## */

.center {
  text-align: center;
}

.btn {
  padding: 1em;
  border-radius: 3px;
  border: var(--primary) 2px solid;
  color: var(--primary);
  background: white;
  cursor: pointer;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.alternate-btn {
  color: var(--primary-dark);
  background: white;
  border: var(--primary) 2px solid;
  font-weight: bold;
  transition: all .4s ease-in-out;

  &:hover {
    color: white;
    background: var(--primary);
  }
  &:focus {
    outline: none;
  }
  &:active {
    background: var(--primary-dark);
  }
}

.mobile-only {
  display: none;
}

/* ####################### */
/* HEADER COMPONENT STYLES */
/* ####################### */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  /* background: rgb(254, 168, 168); */

  & svg {
    color: var(--primary);
    transition: 0.3s ease;
  }
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

header nav ul{
  margin: auto;
  display: flex;
  justify-content: row;
  gap: 10px;
}

header a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

header nav a:hover {
  border-bottom: 1px solid black;
}

/* ########### */
/* HERO/SPLASH */
/* ########### */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  padding-top: 50px;
  background: url(./img/splash-2.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 75%;
}

.hero-text {
  font-size: 2.5em;
  width: 70%;
  margin-top: 70px;
  margin-left: 15px;
  letter-spacing: 2px;
}

.splash-btn {
  position: relative;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 1.2em;
  color: white;
  background: var(--primary);
  border: 2px var(--primary) solid;
  border-radius: 3px;
  transition: all 0.3s ease-in;

  &:hover {
    cursor: pointer;
    background: white;
    color: var(--primary);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
}

.hero-cloud {
  position: absolute;
  right: 600px;
  z-index: -1;
  width: 100px;
}

/* ##################### */
/*  SIGN-IN / REGISTER   */
/* ##################### */
.signin-card {
  margin-top: 75px;
}

/* .auth-card {
  margin-top: 20px;
} */

.auth-main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.card-header {
  color: var(--primary);
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5em;
  max-width: 450px;
}

.card-body {
  padding: 50px 50px 10px 50px;
  width: 450px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form label {
  margin-bottom: -15px;
}

.auth-form button {
  margin-top: 10px;
}

.primary-btn {
  color: white;
  background: var(--primary-dark);
  border: none;
  font-weight: bold;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #f05858, #f15e64, #e14e53, #e2373f);  
  transition: all .4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background: var(--primary-dark);
  }
}


.error-message {
  background: rgba(240, 88, 88, 0.284);
  color: darkred;
  padding: .5em;
  border-radius: 3px;
  margin-bottom: 10px;
}

.callout {
  padding: 20px;
  width: 350px;
  text-align: center;
}

.callout a {
  color: var(--primary);
  font-weight: bold;
}

.cancel-btn {
  border: none;

  &:hover {
    background: rgba(235, 81, 89, 0.38);
  }
}

/* ########## */
/* RESPONSIVE */
/* ########## */

@media screen and (max-width: 750px) {

  .hero {
    background: none;
    text-align: center;
  }

  .hero-text {
    width: 100%;
    margin-top: -15px;
  }


}

/* @media screen and (max-width: 650px) and (min-width: 475px) {

}

@media screen and (max-width: 475px) {

} */