/* ######## */
/* GENERAL */
/* ######## */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

/* ######## */
/*   UTIL   */
/* ######## */

.center {
  text-align: center;
}

/* ####################### */
/* HEADER COMPONENT STYLES */
/* ####################### */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

header nav ul{
  margin: auto;
  display: flex;
  justify-content: row;
  gap: 10px;
}

header a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}
header nav a:hover {
  border-bottom: 1px solid black;
}

/* ########### */
/* HERO/SPLASH */
/* ########### */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-text {
  font-size: 2.5em;
  width: 70%;
  margin-top: 75px;
}
.splash-btn {
  /* position: relative;
  right: 200px;
  top: 50px; */
  margin-top: 20px;
  border: 2px rgb(240, 88, 88) solid;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 3px;
  background: white;
  color: rgb(240, 88, 88);
  transition: 0.3s;
}
.splash-btn:hover {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* ######### */
/* DASHBOARD */
/* ######### */
.main-dashboard {
  display: flex;
  /* background: whitesmoke; */
  height: 100vh;
  /* width: 100%; */
}

/* ######## */
/* DASH NAV */
/* ######## */
.sidebar {
  /* position: fixed; */
  background: white;
  /* border: 1px solid black; */
  height: 100%;
  height: 100vh;
  width: 200px;
  transition: all 0.3s ease;
}

.sidebar ul {
  /* width: 100%; */
  margin-top: 50px;
  padding-left: 5px;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px;
  /* height: 40px; */
  /* margin-left: 5px; */
  border-radius: 25px;
  width: 100%;
  background: transparent;
}

.sidebar a {
  font-size: 1.1em;
  display: flex;
  padding: 9px;
  width: 100%;
  height: 100%;
  border-radius: 50px 0 0 50px;
  text-decoration: none;
  background: white;
  color: black;
}

.sidebar li:hover {
  cursor: pointer;
}

.sidebar .active li {
  background: white;

}
.sidebar a.active {
  background: whitesmoke;
  font-weight: bold;
  color: rgb(240, 88, 88);
  position: relative;
}
.sidebar ul a.active::before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 whitesmoke;
  /* z-index: -1; */
}
.sidebar ul a.active::after{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 whitesmoke;
  /* z-index: 1; */
}

/* ####### */
/* PROFILE */
/* ####### */
.dash-section {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background: whitesmoke;
}

.user-profile {
  /* display: grid; */
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background: whitesmoke;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.profile-col {
  display: grid;
  text-align: center;
  flex-wrap: wrap;
  gap: 2px;
}

.time-elapsed {
  /* text-align: center; */
  background: white;
  border-radius: 20px;
  padding: 1em;
  width: 350px;
  margin: auto;
  margin-bottom: 5px;
}

.time-elapsed ul {
  display: flex;
  justify-content: space-around;
}

.progress-trackers {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.tracker {
  cursor: pointer;
  padding: 1em;
  width: 160px;
  height: 100px;
  background: white;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

/* ######## */
/* JOURNALS */
/* ######## */
.user-journals {
  display: grid;
  grid-template-rows: 50px 1fr;
  width: 100%;
  padding: 20px;
}

.journals-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.journal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.journal-item {
  background: white;
  padding: 1em;
  border-radius: 10px;
}

.journal-detail {
  background: white;
  height: 350px;
  width: 370px;
  padding: 1em;
}

.journal-card {
  height: 350px;
  width: 370px;
}

/* JOURNAL FORM */
.journal-create {
  text-align: center;
}

.journal-form {
  display: grid;
  grid-template-columns: .5fr 1fr;
  gap: 5px;
  margin-bottom: 15px;
}

.journal-form label {
text-align: left;
}

/* ####### */
/* HEALTH */
/* ####### */
.user-health {
  display: grid;
  width: 100%;
  padding: 20px;
}

.health-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* ######## */
/* TIMELINE */
/* ######## */
.user-timeline {
  display: grid;
  width: 100%;
  padding: 20px;
}

.timeline-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}