/* ######## */
/* TIMELINE */
/* ######## */
.user-timeline {
  grid-template-rows: 50px 60%;
  display: grid;
  width: 100%;
  padding: 20px;
}

.timeline-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

canvas {
  width: 100%;
  background: white;
}

.time-scale {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  background: white;
  border-radius: 10px;
  padding: 1em;
}

