/* ######## */
/* TIMELINE */
/* ######## */
.user-timeline {
  grid-template-rows: 50px 75%;
  display: grid;
  width: 100%;
  padding: 20px;
}

.timeline-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.time-scale {
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 990px;
  max-height: 500px;
  background: white;
  border-radius: 10px;
  padding: 1em;
}