/* ######## */
/* JOURNALS */
/* ######## */

.user-journals {
  display: grid;
  grid-template-rows: 50px 1fr;
  width: 100%;
  padding: 20px;
  /* flex-wrap: wrap; */
}

.journals-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.introduction {
  width: 100%;
}

.journal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  min-width: 30%;
  gap: 10px;
  height: 80%;
  overflow-y: auto;
  border-radius: 3px;
  padding: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */

  & .introduction {
    margin: 10px 0 10px 0
  }

}

.journal-card {
  height: 480px;
  width: 45%;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  flex-direction: column;

  /* align-items: center; */
  /* justify-content: safe; */

  & .primary-btn, 
  .cancel-btn,
  .alternate-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  & a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(240, 88, 88);
    transition: 0.3s ease;
  }
}

.journal-detail {
  /* height: 350px; */
  /* width: 400px; */
  padding: 1em;
  background: white;

  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  gap: 20px;

  & .buttons {
    margin-top: 30px;
    text-align: center;
  }
  & .crud-btn {
    display: flex;
    justify-content: space-between;
    .btn {
      width: 45%;
    }
  }

  & li {
    margin: 5px
  }
}

.journal-display-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-journal {
  .action-button {
    background-color: rgb(240, 88, 88);
    color: white;
  }

  & button.action-button:hover {
    background: rgb(199, 35, 35);
  }
}

/* JOURNAL FORM */
.journal-create, .journal-edit {
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
}

.journal-form {
  display: grid;
  grid-template-columns: .5fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
  padding: 10px;

  & label {
    text-align: left;
  }

  & p {
    color: rgb(240, 88, 88);
    font-weight: bold;
    padding: 2px;
  }
}

/* ############ */
/* JOURNAL ITEM */
/* ############ */

.journal-item {
  padding: 1em;
  background: white;
  border-radius: 10px;
  width: 80%;
  max-width: 300px;
  min-width: 100px;

  /* display: flex; */

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  & .date-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

  & a {
    font-weight: bold;
    color: rgb(240, 88, 88);
    transition: 0.3s ease;
    width: 100%;
  }
}

/* ########## */
/* RESPONSIVE */
/* ########## */

@media screen and (max-width: 1000px) {
  
  .journal-list {
    width: 80%;
  }

  .mobile-only {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: block !important;
  }

  .journal-form {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .journal-display-index {
    display: none;
  }

  .journal-create, .journal-detail, .journal-edit {
    height: auto;
    width: 65%;
    position: absolute;
    /* width: 75%; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;  
  }
}

/* @media screen and (max-width: 650px) and (min-width: 475px) {

}

@media screen and (max-width: 475px) {

} */