/* ######## */
/* TIMELINE */
/* ######## */

.user-timeline {
  display: grid;
  grid-template-rows: 50px 75%;
  width: 100%;
  padding: 20px;
  transition: all 0.3s ease-in;
}

.timeline-content {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease-in;
}

.time-scale {
  display: flex;
  justify-content: center;
  width: 95%;
  max-width: 990px;
  max-height: 500px;
  background: var(--light);
  border-radius: 10px;
  padding: 1em;
  transition: all 0.3s ease-in;

  background: var(--light);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}