/* ####### */
/* HEALTH */
/* ####### */

.user-health {
  display: grid;
  grid-template-rows: 50px 1fr;
  width: 100%;
  padding: 20px;
  /* height: 100%; */
  /* overflow-y: auto; */
  /* background: rgba(202, 235, 255, 0.501); */
}

.health-content {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  margin-bottom: 100px;

  background: white;
  border-radius: 10px;
  padding: 30px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.health-progress {
  width: 85%;
  /* max-width: 550px; */
  margin: auto;
  transition: all 0.3s ease-in;
  /* border-left: 2px solid rgb(240, 181, 87); */
  /* border-left: 2px solid rgb(244, 233, 158); */
  border-left: 2px solid rgb(246, 116, 116);
  border-left: 2px solid rgb(172, 185, 238);
}

.health-item {
  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;

  display: flex;
  /* gap: 10px; */
  align-items: center;

  & .progress-marker {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: -11px;
    /* box-shadow: 20px 20px 0 yellowgreen; */

  }
  & .complete {
    background: rgb(249, 95, 95);
    background: rgb(89, 114, 213);
  }

  & .ongoing {
    background: rgb(255, 183, 183);
    background: rgb(172, 185, 238);
  }

  & .health-item-info {
    width: 100%;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & .description {
      width: 85%;
    }
  }

}


.progress-bar {
  border-radius: 10px;
  padding: 3.5px;
  width: 90%;
}

.progress-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.mobile-progress {
  display: none;
}

.references {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;

  & p {
    color: rgb(86, 85, 85);
  }

  & a {
    text-decoration: none;
    color: rgb(246, 116, 116);
  }
}