/* ####### */
/* PROFILE */
/* ####### */

.user-profile {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background: whitesmoke;
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.profile-col {
  display: grid;
  text-align: center;
  flex-wrap: wrap;
  gap: 2px;
}

.time-elapsed {
  /* text-align: center; */
  background: white;
  border-radius: 20px;
  padding: 1em;
  width: 350px;
  margin: auto;
  margin-bottom: 5px;

  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

.time-elapsed ul {
  display: flex;
  justify-content: space-around;
}

.progress-trackers {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;

}

.tracker {
  cursor: pointer;
  padding: 1em;
  width: 180px;
  height: 100px;
  background: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.info p{
  padding-top: 5px;
  font-size: .9em;
}

.tracker svg {
  font-size: 2.2em;
}

.money-tracker {
  background: rgb(212, 255, 208);
  color: rgb(17, 130, 17);
}

.avoided-tracker {
  background: rgb(255, 214, 214);
  color: rgb(213, 73, 73);
}

.time-gained-tracker {
  background: rgb(250, 244, 179);
  color: rgb(237, 174, 74);
}