/* ####### */
/* PROFILE */
/* ####### */

.user-profile {
  display: grid;
  grid-template-rows: 50px .8fr;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  background: var(--grey);
}

.profile-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-col {
  display: grid;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.time-elapsed {
  /* text-align: center; */
  background: var(--light);
  border-radius: 20px;
  padding: 1em;
  /* width: 350px; */
  width: 75%;
  /* height: 75%; */
  margin: auto;
  margin-bottom: 5px;

  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.time-elapsed ul {
  display: flex;
  justify-content: space-around;
}

.time-elapsed .time {
  color: var(--primary);
}

.progress-trackers {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  transition: all 0.3s ease;

}

.tracker {
  /* box-sizing: border-box; */
  cursor: pointer;
  padding: 1em;
  width: 44%;
  height: 100px;
  background: var(--light);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 2px; */
  transition: all 0.3s ease;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

  &:hover {
    /* transform: translateY(-1px); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
  }
}

.info {
  width: 55%;
}

.info p{
  padding-top: 5px;
  /* font-size: .9em; */
}

.tracker svg {
  /* box-sizing: border-box; */
  font-size: 2.3em;
}

.money-tracker {
  background: rgba(212, 255, 208, 0.501);
  color: rgb(71, 174, 97);
}

.avoided-tracker {
  background: rgb(255, 214, 214, 0.501);
  color: rgb(226, 94, 94);
}

.time-gained-tracker {
  background: rgb(250, 244, 179, 0.501);
  color: rgb(240, 181, 87);
}

.life-regained-tracker {
  background: rgba(202, 235, 255, 0.501);
  color: rgb(89, 114, 213);
}

/* ###### */
/* ASIDES */
/* ###### */

.health-milestones {
  cursor: pointer;
  padding: 10px;
  height: 100px;
  width: 90%;
  margin: auto;
  background: var(--light);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  background: rgb(255, 214, 214, 0.501);
  background: rgba(255, 234, 234, 0.702);
  color: rgb(251, 140, 140);

  &:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
  }

  & .progress-bar {
    align-self: center;
    width: 95%;
  }

  & button {
    width: 100px;
    height: 20px;
    padding: 0px;

    border-radius: 20px;

    align-self: flex-end;
    border: 2px solid rgb(251, 140, 140);
    background: rgba(255, 234, 234, 0.702);
    color: rgb(251, 140, 140);

    &:hover {
      background: rgb(251, 140, 140);
    }
  }
}

.milestone-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 15px; */

  & p {
    display: flex;
    align-items: center;
    gap: 20px;

    font-weight: bold;
  }

}

.aside {
  margin-top: 50px;
  margin-bottom: 20px;
  /* gap: 50px; */
}

.side-tracker {
  /* display: flex;
  flex-direction: column; */
  /* gap: 20px; */
  border-left: 3px solid var(--primary);
  padding-left: 10px;
  width: 300px;
}

.resources:hover {
  cursor: pointer;
}

.side-tracker-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 175px;
  background: var(--light);
  border-radius: 10px;
  padding: 10px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.side-tracker-header {
  background: rgb(250, 244, 179, 0.501);
  color: rgb(240, 181, 87);

  /* background: rgb(255, 214, 214, 0.501);
  color: rgb(226, 94, 94);

  background: rgba(212, 255, 208, 0.501);
  color: rgb(71, 174, 97); */

  border-radius: 10px;
  padding: 15px;

  & svg {
    font-size: 2.3em;
  }
}

.side-tracker-content {
  text-align: left;
}

.resource-link {
  color: var(--primary);
  text-decoration: none;
}
/* ########## */
/* RESPONSIVE */
/* ########## */

@media screen and (max-width: 1350px) and (min-width: 475px){

  .time-elapsed {
    width: 90%;
  }

  .aside {
    width: 78%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 25px;
  }

  .tracker {
    justify-content: space-around;
  }


  .money-tracker {
    background: rgba(212, 255, 208, 0.501);
    color: rgb(71, 174, 97);
  }

  .avoided-tracker {
    height: 150px;
    background: rgb(255, 214, 214, 0.501);
    color: rgb(226, 94, 94);
  }

  .time-gained-tracker {
    height: 150px;
    position: relative;
    bottom: 50px;

    background: rgb(250, 244, 179, 0.501);
    color: rgb(240, 181, 87);
  }

  .life-regained-tracker {
    background: rgba(202, 235, 255, 0.501);
    color: rgb(89, 114, 213);
  }

}

@media screen and (max-width: 1100px) {
  .side-tracker {
    width: 85%;
  }
}

@media screen and (max-width: 475px) {

  .time-elapsed {
    width: 100%;
  }

  .aside {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 25px;
  }

  .side-tracker {
    width: 85%;
  }

  .tracker {
    width: 85%;
    justify-content: space-around;
  }
}